@font-face {
    font-family: "Arial"; 
    src: url("Arial.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #caeaf1;/*#d7e7eb;*/
}
header{
    height: 100px;
    background-color: #9b59b6;
}
.logo{
    height: 80px;
    border-radius: 150px;
}
.url{ 
    color: black;
}
.url:hover {
    color: #1ed306;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color:#9b59b6; 
}
tr:nth-child(even){
    background-color: #3498db; 
}
footer{
    height: 100px;
    background-color:#9b59b6;
}
a:hover{
    color: #1ed306;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
    }
    .logo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
}

